.UpperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 1%;
    gap: 10%;
    background-image: url(../../../public/images/pattern-bg-desktop.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.UpperContainer .Title {
    color: #fff;
    font-size: 2em;
}